/* COLORS */

$blue: #00b4ff;
$light-gray: #f1f1f1;
$gray: #F5F5F5;
$dark-gray: #333;
$white: #fff;

#home-body {
	background: $blue;
	color: $gray;
	font: 100% Arial, Sans Serif;
	height: 100vh;
	margin: 0;
	padding: 0;
  overflow-x: hidden;
  text-align: center;
}

.background-wrap {
  bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

body {
  background: $gray;
  margin: 0;
  font-family: arial;
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
  -moz-animation: bugfix infinite 1s;
}

input[type=checkbox] {
  display: none;
}

a {
  color: $white;
}

.title {
  margin: 1vh 0 5vh 0;
  color: $white;
  font-size: 15vw;
}

.subtitle {
  color: $white;
}

.home-shadows-text {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.language {
  display:grid;
  grid-template-rows: 1fr 1fr;
  height: 40vh;
  @media (min-width: 48em) {
    grid-template-columns: 1fr 1fr;
  }
}

.language-link {
  text-decoration: none;
}

.language-image {
  width: auto;
  height: 25vh;
}

.main-text {
  width: 80%;
  margin: 0 10% 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 48em) {
    grid-template-columns: 1fr;
  }
}

.cards {
  padding: 3rem;
}

.spacer {
  width: 100%;
  height: 100px;
}

.text-body {
  text-align: justify;
}
/* HOME */

.cloud-image {
  align-self: center;
  width: 50%;
  height: auto;
  padding: 0 25%;
}

.home-title {
  font-size: 3.2vw;
  @media (max-width: 48em) {
    font-size: 5vw;
  }
}

.home-card-title {
  text-align: center;
  font-size: 32px;
  @media (max-width: 48em) {
    font-size: 38px;
  }
}

.home-item-large {
  text-align: center;
  grid-column: 1 / 3;
  @media (max-width: 48em) {
    grid-column: 1;
  }
}

.home-footer {
  background: $blue;
  margin: 50px 0 0 0;
}
.footer-text {
  font-size: 25px;
  text-align: center; 
  color: $white;
  padding: 0; margin: 0;
}

/* ABOUT */

#source-link {
  color: $blue;
}

/* RESULTS */

.charts-container {
  width: 80%;
  margin: 0 10% 0 10%;
}

.part-titles {
  text-align: center;
  margin: 8vh 0 0 0;
}

.results-chart {
  margin-top: 50px;;
}
/* SURVEY */
.survey-description {
  width: 80%;
  margin: 0 10% 0 10%;
}

.text-title {
  color: $blue;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
}
#survey-link {
  color: $blue;
}

/* CONTACT */

.contact-form {
  height: 90vh;
}
/* MENUS */

/* DESKTOP MENU */

@media (min-width: 48em) {
  .navigation {
    background-color: $blue;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  .navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: $blue;
  }

  .navigation li a {
    display: block;
    text-decoration: none;
    padding: 20px 30px;
  }

  .navigation li a:hover, .header .menu-btn:hover {
    background-color: $blue;
  }

  .navigation .logod {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }

  .navigation li {
    float: left;
  }

  .navigation .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .logom {
    display: none;
  }

  .mobile-menu-background {
    display: none
  }
}
/* MOBILE MENU */

@media (max-width: 48em) {
  @keyframes bugfix {
    from {
      padding: 0;
    }

    to {
      padding: 0;
    }
  }

  @-webkit-keyframes bugfix {
    from {
      padding: 0;
    }

    to {
      padding: 0;
    }
  }

  .logod {
    display: none;
  }

  .logom {
    display: block;
    position: fixed;
    float: left;
    font-size: 2em;
    text-decoration: none;
    left: 1em;
    top: 1em;
    color: $white;
    z-index: 1;
  }

  #overlay-button {
    position: fixed;
    right: 2em;
    top: 1em;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
  }

  #overlay-button span {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: $white;
    position: relative;
    display: block;
    transition: all 0.2s ease-in-out;
  }

  #overlay-button span:before {
    top: -10px;
    visibility: visible;
  }

  #overlay-button span:after {
    top: 10px;
  }

  #overlay-button span:before, #overlay-button span:after {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: $white;
    position: absolute;
    content: "";
    transition: all 0.2s ease-in-out;
  }

  #overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
    background: $white;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked ~ #overlay {
    visibility: visible;
  }

  input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
    background: transparent;
  }

  input[type=checkbox]:checked ~ #overlay-button span:before {
    transform: rotate(45deg) translate(7px, 7px);
    opacity: 1;
  }

  input[type=checkbox]:checked ~ #overlay-button span:after {
    transform: rotate(-45deg) translate(7px, -7px);
  }

  #overlay {
    height: 100vh;
    width: 100vw;
    background: $blue;
    z-index: 2;
    visibility: hidden;
    position: fixed;
  }

  #overlay.active {
    visibility: visible;
  }

  #overlay ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
  }

  #overlay ul li {
    padding: 1em;
  }

  #overlay ul li a {
    color: $white;
    text-decoration: none;
    font-size: 1.5em;
  }

  #overlay ul li a:hover {
    color: $white;
  }

  .mobile-menu-background {
    background-color: $blue;
    height: 95px;
    width: 100%;
    z-index: 0;
    position:fixed;
  }
}

/* CHARTS */

.plotToolText{
  font-size: 14px; 
  letter-spacing: 1px;
}

/* CLOUDS ANIMATION */

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

@-moz-keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

/* OBJECTS */

.cloud {
	background: $white;
	background: -moz-linear-gradient(top,  $white 5%, $light-gray 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,$white), color-stop(100%,$light-gray));
	background: -webkit-linear-gradient(top,  $white 5%,$light-gray 100%);
	background: -o-linear-gradient(top,  $white 5%,$light-gray 100%);
	background: -ms-linear-gradient(top,  $white 5%,$light-gray 100%);
	background: linear-gradient(top,  $white 5%,$light-gray 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$white', endColorstr='$light-gray',GradientType=0 );
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
    background: $white;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}
